.App {
  height: 100%;
  width: 100%;
  text-align: center;
}

.sidenav {
  height: 100%;
  width: 200px;
  background-color: #33332D;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  color: #eee;
}

.side-header {
  display: block;
  height: 50px;
}

.side-header .logo {
  width: 30px;
  height: auto;
  position: absolute;
  top: 10px;
  left: 20px;
}

.side-header .title {
  position: absolute;
  top: 15px;
  right: 20px;
  text-align: right;
}

.side-header a {
  color: inherit;
}

.title .main-title {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.title .subtitle {
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0;
  color: #ccc;
}

.sidenav .full-section-divider {
  width: 160px;
  background-color: #666;
  height: 1px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.sidenav .topic-section-label p {
  text-align: left;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #ccc;
}

.sidenav .right-button {
  text-align: right;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sidenav .right-button a {
  display: inline-block;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -5px;
  margin-bottom: -5px;
  text-decoration: none;
  color: inherit;
}

.sidenav .right-button .active {
  color: #FFC708;
}

.sidenav .right-button a:hover {
  color: #FFC708;
}

.sidenav .active {
  color: #FFC708;
}

.main {
  width: calc(100%-200px);
  height: 100%;
  margin-left: 200px;
  color: white;
}

.main .info {
  width: 100%;
  padding-top: 50px;
  text-align: center;
  color: #ccc;
}

.main .info a {
  color: white;
}

.entry-list {
  padding-top: 50px;
}

.side-footer {
  position: absolute;
  bottom: 30px;
  width: 100%;
}
