.video-entry {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 10px;
  white-space: nowrap;
  width: 100%;
  display: flex;
}

.entry-controls {
  width: 60px;
  padding-left: 20px;
  padding-right: 20px;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

button {
  border: none;
  padding: 0;
  background: none;
  color: inherit;
  cursor: pointer;
}

.report-button {
  display: block;
  width: 100%;
  font-size: 11px;
  color: #bbb;
  text-align: center;
}

.share-button, .dismiss-button {
  display: block;
  width: 100%;
  font-size: 13px;
  color: #ddd;
}

.share-button:hover, .dismiss-button:hover {
  color: white;
}

.video-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.video-top {
  display: flex;
  height: 225px;
}

.video-bottom {
  font-size: 16px;
  display: flex;
}

.video-bottom .bottom-left {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 400px;
}

.video-bottom .bottom-right {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 20px;
  padding-left: 30px;
  width: calc(100% - 420px);
}

.video-go {
  color: white;
  width: 400px;
  height: 225px;
  text-align: center;
}

.video-link {
  display: block;
  position: relative;
  height: 225px;
  width: 400px;
}

.video-go:hover .play-icon{
  display:block;
}

.video-go:hover .poster-overlay {
  display: block;
}

.title-link {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  white-space: normal;
}

.title-link:hover {
  text-decoration: underline;
}

.play-icon {
  display: none;
  color: #FFC708;
  z-index: 3;
  position: absolute;
  top: calc(50% - 46px);
  left: calc(50% - 46px);
}

.poster-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  height: 225px;
  width: 400px;
  z-index: 2;
}

.poster {
  position: relative;
  height: 225px;
  width: 400px;
}


.video-desc {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-desc p {
  margin: 0;
}

.desc-text {
  letter-spacing: 0.5px;
  white-space: normal;
  font-size: 15px;
  line-height: 1.75;
  color: #ddd;
  overflow: hidden;
  max-height: 180px;
  text-align: left;
}

.more-button {
  margin-top: 20px;
  font-size: 14px;
}

.author {
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.author:hover {
  text-decoration: underline;
}

.license {
  display: none;
  font-size: 12px;
  margin-top: 16px;
  margin-bottom: 16px;
  text-decoration: none;
  color: inherit;
}

.license:hover{
  text-decoration: underline;
}

.author-modal {
  position: fixed;
  padding: 10px;
  max-width: 60%;
  max-height: 60%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.share-modal {
  position: fixed;
  width: 600px;
  max-height: 60%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #fff;
}

.desc-modal {
  position: fixed;
  max-width: 60%;
  max-height: 60%;
  padding: 10px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  line-height: 1.75;
  overflow: scroll;
}

.share-field {
  font-size: 16px;
  padding-left: 10px;
  height: 30px;
  width: calc(95% - 10px);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 101;
}

.hidden-entry {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 310px) and (max-width: 767px) {

  .entry-controls, .video-desc {
    display: none;
  }

  .title-link p {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  .video-entry {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .video-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }

  .video-top {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .video-bottom {
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
  }

  .video-bottom .bottom-left {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video-bottom .bottom-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .author, .license {
    margin-top: 0;
    margin-bottom: 8px;
  }

  .video-bottom .bottom-left, .video-bottom .bottom-right {
    width: 100%;
    padding: 0;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .entry-controls {
    display: flex;
  }
  .video-entry {
    align-items: flex-start;
    justify-content: center;
  }
}

@media (min-width: 310px) and (max-width: 500px) {
  .video-go, .poster, .video-link, .poster-overlay {
    width: 256px;
    height: 144px;
  }
  .video-top {
    height: 144px;
  }
}
